* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	line-height: 1.4;
}

p {
	margin-bottom: 5px;
}

.container {
	border: 5px black solid;
	width: 800px;
	margin: 50px auto;
	position: relative;
}

header h1::before {
	content: "SALE";
	position: absolute;
	background-color: red;
	color: white;
	font-weight: normal;
	font-size: small;
	letter-spacing: 5px;
	display: inline-block;
	margin-left: -195px;
	margin-top: -16px;
	padding: 5px 5px;
	top: 0;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: large;
	font-weight: bolder;
	background-color: #f7f7f7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shipping {
	font-size: smaller;
	color: lightslategrey;
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
	float: right;
	margin-right: 35px;
}

.wrapper {
	display: flex;
}

.box {
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 5px;
	margin-top: 15px;
}

.box:first-child {
	margin-left: 0;
}

.black {
	background: #000000;
}

.blue {
	background: #13b4ff;
}

.red {
	background: #ff0303;
}

.orange {
	background: orange;
}

.green {
	background: green;
}

.brown {
	background: brown;
}

.price {
	font-size: medium;
	text-transform: uppercase;
	float: left;
}

.more-info:link,
.more-info:visited {
	color: black;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}

.details-title {
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

.details-list {
	list-style: square;
	padding-left: 15px;
}

.details-list li {
	margin-bottom: 10px;
}

.add-cart {
	background-color: black;
	color: white;
	font-size: larger;
	text-transform: uppercase;
	border: none;
	padding: 15px 20px;
	width: 100%;
}

.add-cart:hover {
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
	border-top: 5px black solid;
}

.product-image {
	clear: both;
	float: left;
	margin-right: 40px;
}

.product-info {
	float: left;
	width: 243px;
	margin-top: 40px;
}

.product-details {
	float: right;
	width: 243px;
	margin-top: 20px;
}

.product-description {
	clear: both;
}
