* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	line-height: 1.4;
}

p {
	margin-bottom: 5px;
}

.container {
	border: 5px black solid;
	width: 650px;
	margin: 50px auto;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: large;
	font-weight: bolder;
	background-color: #f7f7f7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.alternativeText {
	font-size: smaller;
	color: lightslategrey;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.price {
	font-size: medium;
	text-transform: uppercase;
}

.more-info:link,
.more-info:visited {
	color: black;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}

.details-title {
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

.details-list {
	list-style: square;
	padding-left: 15px;
}

.details-list li {
	margin-bottom: 10px;
}

.add-cart {
	background-color: black;
	color: white;
	font-size: larger;
	text-transform: uppercase;
	border: none;
	padding: 15px 20px;
	width: 100%;
}

.add-cart:hover {
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
	border-top: 5px black solid;
}
